<%= render Components::Layout::Header.new(personal_info: @personal_info) %>

<main>
  <%= render Components::Sections::HeroSection.new(personal_info: @personal_info) %>
  <%= render Components::Sections::AboutSection.new(personal_info: @personal_info) %>
  <%= render Components::Sections::ExperienceSection.new(experiences: @experiences) %>
  <%= render Components::Sections::EducationSection.new(
    educations: @educations,
    certifications: @certifications,
    volunteerings: @volunteerings,
    languages: @languages
  ) %>
  <%= render Components::Sections::SkillsSection.new(skills: @skills) %>
  <%= render Components::Sections::ProjectsSection.new(projects: @projects) %>
</main>

<%= render Components::Layout::Footer.new(personal_info: @personal_info) %>
